[submodule "Submodules/AdamMil.net"]
	path = Submodules/AdamMil.net
	url = https://github.com/AdamMil/AdamMil.net.git
[submodule "Submodules/Infrastructure"]
	path = Submodules/Infrastructure
	url = https://github.com/Ascentis/Infrastructure.git
